@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body{
    background-color: white;
}

h1{
    font-size: 50px;
    font-weight: bolder;
}

h1, p, li{
    font-family: 'Space Grotesk';

}

#our-vision-image{
    height: 25%;
    width: 25%;
}

.navbar {
    float: right;
}

.navbar ul {

}

.navbar li {
    display: inline;
}

.navbar li:nth-child(1) a {
    text-decoration: none;
  }

.navbar li:nth-child(2) a {
    color: #8244c0;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

.navbar li:nth-child(3) a {
    color: #3545FA;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

  .navbar li:nth-child(4) a {
    color: white;
    border: 2px solid;
    padding: 8px 22px;
    background-color: black;
    text-decoration: none;
  }

  .flexcontainer {
    display: flexbox;
  }