@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Space+Grotesk&display=swap');


h1, p, a{
    font-family: 'Space Grotesk';
}


h1{
    font-size: 35px;
    margin-left: 20px;
}

section{
    display:flex;
    flex-direction: row;
    margin-left: 30px;
}

.frontenddiv{
    margin-left:100px;
}

.frontend-image{
    
}

.frontendtitle{
    font-size: 35px;
    font-weight: bold;
    line-height: 1.3;
}

.frontendtext{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    margin-right: 100px;
    line-height: 1.5;
}

.frontendcareer{
    font-size: 35px;
    font-weight:bold;
    color: #8244c0;
    margin-bottom: -10px;
}

.frontendpaths{
    font-family: 'Inter';
    font-size: 20px;
    line-height: 2;
}

.courses{
    background-color: #8244c0;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    font-size: 25px;
    padding: 15px;
    width: 300px;
    border-color: #8244c0;
    /* font-family: 'Intel'; */
    /* text-align: center; */


}