@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Space+Grotesk&display=swap');
@keyframes fadeIn{
    0% { opacity: 0;}
    100% { opacity: 1;}
  }

  body{
    animation: fadeIn 1s;
  }
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.login-photo {
    width: 100%;
    height: 100%;
}

#email {
    padding: 12px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 7px;
    width: 400px;
    font-family: 'Space Grotesk';
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
}

#password {
    padding: 12px;
    font-size: 20px;
    /* margin-bottom: 20px; */
    border-radius: 7px;
    width: 400px;
    font-family: 'Space Grotesk';
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
}

 /* CSS */
 .quizBtn {
    align-items: center;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 430px;
    height:80px;
    margin-right:0px;
  }
  
  .quizBtn:hover,
  .quizBtn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
    background-color:#9c66d1;
    color:white;
  }
  
  .quizBtn:hover {
    transform: translateY(-1px);
  }
  
  .quizBtn:active {
    background-color: #8244C0;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color:white;
    transform: translateY(0);
  }

form {
    margin-top: 110px;
    text-align: center;
}

.google {
    border-style: solid;
    border-width: 2px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: black;
    color: black;
    font-family: 'Space Grotesk';
}

.literally-a-single-or {
    padding: 0;
    margin-top: 40px;
    font-size: 24px;
}

.forgot-password {
    padding-left: 310px;
    padding-top: 40px;
    color: rgb(50, 50, 50);
    font-size: 15px;
}

.rip {
    font-size: 15px;
    text-align: end;
    padding-right: 160px;
}

.signup {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}