@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Space+Grotesk&display=swap');
@keyframes fadeIn{
  0% { opacity: 0;}
  100% { opacity: 1;}
}
body{
    background-color: rgb(255, 255, 255);
    animation: fadeIn 1s;
}



h1 {
    font-size: 50px;
    font-weight: bolder;
    display: block;
    float: left;
}

p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: block;
}

h1, p, li{
    font-family: 'Space Grotesk';
    padding-left: 50px;
}

.visiontitle{
    text-align: center;

}

.vision{
    /* text-align: center; */
    float: right;
    padding-right: 250px;
}

#front-page-images {
    height: 30%;
    width: 30%;
    padding-right: 100px;
}

#our-vision-image {
    height: 25%;
    width: 25%;
    float: left;
}

.navbar {
    float: right;
    margin-top:35px;
    margin-right:30px;
}

.homeText{
  height:70%;
  width:70%;
}

.sloganText{
  margin-left:-30px;
}
.navbar li {
    display: inline;
}

.navbar li:nth-child(1) a {
    text-decoration: none;
  }

.navbar li:nth-child(2) a {
    color: #8244c0;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

.navbar li:nth-child(3) a {
    color: #3545FA;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

  .navbar li:nth-child(4) a {
    color: white;
    border: 2px solid;
    padding: 8px 22px;
    background-color: black;
    text-decoration: none;
  }

  .flexcontainer {
    display: flexbox;
  }

  .name-your-skill-space{
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
  }

  body{
    display: flex;
    flex-direction: column;
  }

  .herosection{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
  }

  .textHero{
    display:flex;
    flex-direction:column;  
    padding-left: 60px;
    margin-bottom: 0;
  }

  .discoverPotential {
    margin-bottom: 0;
    font-size: 30pt;
  }

  .quizbutton{
    color: white;
    background-color: black;
    font-family: 'Inter';
    font-size: 20px;
    border-radius: 8px;
    width: 175px;
    height: 75px;
    text-align: center;
    margin-left: 50px;
    
  }
  .skillspace{
    text-align: center;
    background-color: #efefef;
    border-radius: 100px/100px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
    margin: auto;
    /* height: 72px;
    width: 1100px; */
    padding: 18px;
    /* padding-left: 50px;
    padding-right: 50px; */
    margin-bottom: 30px;
  }

  .frontendbar {
    font-family: 'Inter';
    font-size: 17pt;
    border-radius: 100px/100px;
    padding:15px;
    display: inline;
    color:black;
  }

  .x{
    transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  .x:hover, .x:focus{
    background-color:#000;
    color:white;
    border-radius: 100px/100px;
    padding:15px;

  }

  .x:hover {
    transform: translateY(-1px);
  }

  .x:active{
    background-color:#000;
    transform: translateY(0)
  }

  .backendbar{
    font-family: 'Inter';
    display: inline;
    margin-right: 85px;
    margin-left: 85px;
    padding-left: 100px;
    padding-right: 70px;
    font-size: 17pt;
  }

  .datasciencebar{
    font-family: 'Inter';
    display: inline;
    font-size: 17pt;
  }

  .frontendtab{
    /* margin-left: 100px;
    margin-right: 835px; */
    padding-right: 150px;
    padding-left: 80px;
  }

  .frontenddev{
    font-family: 'Space Grotesk';
    font-size: 35px;
    font-weight: 700;
  }

  .overview{
    font-size: 25px;
    /* font-weight: 700; */
  }

  .overviewtext{
    font-family: 'Inter';
    font-size: 20px;
    line-height: 1.5;
    width:70%;
    /* font-weight: 400; */
  }

  .reccourse{
    font-size: 25px;
  }

  .excourses{
    font-size: 20px;
    font-family: 'Inter';
    line-height: 1.5;
    /* font-weight: 400; */
  }

  .careerpaths{
    line-height: 1.5;

  }
  
  .dsImage{
    margin-right:300px;
  }

  .career{
    font-size: 25px;
  }

  .careereg{
    font-family: 'Inter';
    font-size: 20px;
    line-height: 1.5;
  }

  #skill-image{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    /* margin-right: 5px; */
}

/* CSS */
.quizBtn {
  align-items: center;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;
  height:80px;
  margin-left:18px;
}

.quizBtn:hover,
.quizBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  background-color:#9c66d1;
  color:white;
}

.quizBtn:hover {
  transform: translateY(-1px);
}

.quizBtn:active {
  background-color: #8244C0;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color:white;
  transform: translateY(0);
}

.frontendContainer, .backendContainer, .datascienceContainer {
  display: flex;
  flex-direction: row;
  margin-left:240px;
}

.spacesection{
  margin-top:150px;
}

.hidden{
  display:none;
}
