@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body{
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb();
    font-size: 50px;
    font-weight: bolder;
    margin-top: 200px;
}

p{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

h1, p{
    font-family: 'Space Grotesk';
    padding-left: 30px;
}
