@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body{
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(152, 67, 169);
}

p{
    color: rgb(163, 47, 113);
}

h1, p{
    font-family: 'Space Grotesk';
}

