@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Space+Grotesk&display=swap');

body{
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    display: block;
    float: left;
}

p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: block;
}

h1, p, li{
    font-family: 'Space Grotesk';
    padding-left: 50px;
}

.visiontitle{
    text-align: center;

}

.vision{
    /* text-align: center; */
    float: right;
    padding-right: 250px;
}

#front-page-images {
    height: 30%;
    width: 30%;
    padding-right: 100px;
}

#our-vision-image {
    height: 25%;
    width: 25%;
    float: left;
}

.navbar {
    float: right;
}

.navbar li {
    display: inline;
}

.navbar li:nth-child(1) a {
    text-decoration: none;
  }

.navbar li:nth-child(2) a {
    color: #8244c0;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

.navbar li:nth-child(3) a {
    color: #3545FA;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

  .navbar li:nth-child(4) a {
    color: white;
    border: 2px solid;
    padding: 8px 22px;
    background-color: black;
    text-decoration: none;
  }

  .flexcontainer {
    display: flexbox;
  }

  .name-your-skill-space{
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
  }

  body{
    display: flex;
    flex-direction: column;
  }

  .herosection{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
  }

  .textHero{
    display:flex;
    flex-direction:column;  
    padding-left: 60px;
    margin-bottom: 0;
  }

  .discoverPotential {
    margin-bottom: 0;
    font-size: 30pt;
  }

  .skillspace{
    text-align: center;
    background-color: #efefef;
    border-radius: 100px/100px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
    margin: auto;
    /* height: 72px;
    width: 1100px; */
    padding: 18px;
    /* padding-left: 50px;
    padding-right: 50px; */
    margin-bottom: 30px;
  }

  .frontendbar {
    font-family: 'Inter';
    font-size: 17pt;
    background-color: rgb(0, 0, 0);
    border-radius: 100px/100px;
    padding:15px;
    display: inline;
  }

  .backendbar{
    font-family: 'Inter';
    display: inline;
    margin-right: 85px;
    margin-left: 85px;
    padding-left: 100px;
    padding-right: 70px;
    font-size: 17pt;
  }

  .datasciencebar{
    font-family: 'Inter';
    display: inline;
    font-size: 17pt;
  }

  .frontendtab{
    margin-left: 100px;
    margin-right: 835px;
  }

  .frontenddev{
    font-family: 'Space Grotesk';
    font-size: 35px;
    font-weight: 700;
  }

  .overview{
    font-size: 25px;
    /* font-weight: 700; */
  }

  .overviewtext{
    font-family: 'Inter';
    font-size: 20px;
    line-height: 1.5;
    /* font-weight: 400; */
  }

  .reccourse{
    font-size: 25px;
  }

  .excourses{
    font-size: 20px;
    font-family: 'Inter';
    line-height: 1.5;
    /* font-weight: 400; */
  }

  .careerpaths{
    line-height: 1.5;

  }

  .career{
    font-size: 25px;
  }

  .careereg{
    font-family: 'Inter';
    font-size: 20px;
  }