@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

p{
    font-family: 'Caveat';
    font-size: 26px;
}

.ratspin1 {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    position: absolute;
    top:50px; 
    left:90px; 
    width:378px;
}

.ratspin2 {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    position: absolute;
    top:500px; 
    left:300px; 
    width:200px;
}

.ratspin3 {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    position: absolute;
    top:300px; 
    right:130px; 
    width:500px;
}