@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Space+Grotesk&display=swap');

body{
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    display: block;
    float: left;
}

p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: block;
}

h1, p, li, label, .buttons{
    font-family: 'Space Grotesk';
    padding-left: 50px;
}
