@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Space+Grotesk&display=swap');

body{
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    display: block;
    float: left;
}

h2, a {
    font-size: 15px;
    font-family: 'Space Grotesk'; 
}

p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: block;
}

.login {
    padding: 10px;
    width: 500px;
    background-color: #8244c0;
}


h1, p, li, label, .buttons{
    font-family: 'Space Grotesk';
    padding-left: 50px;
}

.navbar {
    float: right;
}

.navbar li {
    display: inline;
}

.navbar li:nth-child(1) a {
    text-decoration: none;
  }

.navbar li:nth-child(2) a {
    color: #8244c0;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

.navbar li:nth-child(3) a {
    color: #3545FA;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

  .navbar li:nth-child(4) a {
    color: white;
    border: 2px solid;
    padding: 8px 22px;
    background-color: black;
    text-decoration: none;
  }

  .flexcontainer {
    display: flexbox;
  }

  .redirect {
    width: 500px;
  }

    .signupcont{
      font-family: "Inter";

    }

  .google{
    color: black;
    font-size: 20px;
    border-style: solid;
    border-radius: 7px;
    display: flex;
    display: inline;
    height: 30px;
    padding: 11px;
    padding-left: 107px;
    padding-right: 107px;
    /* width: 400px; */
    /* padding:12px;
    width: 300px;
    margin-bottom: 20px;
    margin-top:50px;
    width: 300px; */
  }

  .or{
    
  }

  #email {
    padding: 12px;
    font-family: "Inter";
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 7px;
    width: 400px;
  }

  #password {
    padding: 12px;
    font-family: "Inter";
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    width: 400px;
  }

  #submit {
    color: white;
    padding: 12px;
    font-family: "Inter";
    font-size: 20px;
    width: 430px;
    border-radius: 7px;
    background-color: #8244c0;
  }