@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body{
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb();
    font-size: 50px;
    font-weight: bolder;
    display: block;
    float: left;
}

p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: block;
}

h1, p, li{
    font-family: 'Space Grotesk';
    padding-left: 50px;
}

.navbar {
    float: right;
    padding-left: 50px;
    padding-top: 15px;
}

/* .navbar li {
    display: inline;
} */

.navbar li:nth-child(1) a {
    text-decoration: none;
  }

.navbar li:nth-child(2) a {
    color: #8244c0;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

.navbar li:nth-child(3) a {
    color: #3545FA;
    border: 2px solid;
    padding: 5px 20px;
    text-decoration: none;
  }

  .navbar li:nth-child(4) a {
    color: white;
    border: 2px solid;
    padding: 8px 22px;
    background-color: black;
    text-decoration: none;
  }

  .flexcontainer {
    display: flexbox;
    /* margin-top: 10px; */
  }

  body{
    display: flex;
    flex-direction: column;
  }

  /* li:nth-child(1):hover {
    text-decoration: underline;
  }

  .test{
    transition: color 2s ease-in;
  }
  li:nth-child(2) a:hover{
    background-color: #6f00a2;
    color: white;
  }

  li:nth-child(3):hover{
    background-color: #3100A2;
    color: white;
  }

  li:nth-child(4):hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  } */

  a {
    text-decoration: none;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 18px;
    font-family: "Space Grotesk";
    margin-left: 20px;
    margin-right: 20px;
  }

  .home-link {
    color: black;
  }

  .home-link:hover {
    text-decoration: underline;
  }


  /* CSS */
.aboutBtn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: #8244c0 0 1px 3px 0;
  box-sizing: border-box;
  color: #8244C0;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.aboutBtn:hover,
.aboutBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  background-color:#9c66d1;
  color:white;
}

.aboutBtn:hover {
  transform: translateY(-1px);
}

.aboutBtn:active {
  background-color: #8244C0;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color:white;
  transform: translateY(0);
}

/* CSS */
.coursesBtn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #3545FA;
  border-radius: .25rem;
  box-shadow: #3545FA 0 1px 3px 0;
  box-sizing: border-box;
  color: #3545FA;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-left:20px;
}

.coursesBtn:hover,
.coursesBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  background-color:#5f6cfa;
  color:white;
}

.coursesBtn:hover {
  transform: translateY(-1px);
}

.coursesBtn:active {
  background-color: #3545FA;
  border-color: #3545FA;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color:white;
  transform: translateY(0);
}

 /* CSS */
.signupBtn {
  align-items: center;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-left:20px;
}

.signupBtn:hover,
.signupBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  background-color:#9c66d1;
  color:white;
}

.signupBtn:hover {
  transform: translateY(-1px);
}

.signupBtn:active {
  background-color: #8244C0;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color:white;
  transform: translateY(0);
}